@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/*
 * Hide nav-bar buttons, show them only on hover
 */
:root:not([customizing]) #nav-bar toolbarbutton
{
	margin-left: -28px !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
	opacity:0.7 !important;
	margin-left: 0 !important;
	pointer-events: auto !important;
}

/*
 * Expand tabs on hover
 */
/*
.tabbrowser-tab:hover {
   min-width: 300px !important;
   transition: min-width 150ms var(--animation-easing-function) 2s !important;
}
*/

/*
 * Nordic Theme
 */

/* Smaller and nordic-colored toolbar buttons */
#nav-bar toolbarbutton {
	transform: scale(0.85, 0.85);
	color: #8FBCBB !important;
}

/* variables */

#navigator-toolbox {
  --tabs-border: transparent !important;
  --tabs-border-color: transparent !important;
  --toolbar-bgcolor: #353C4A;
  --toolbar-bgimage: none;
  --toolbar-color: #8FBCBB;
}

#nav-bar #urlbar {
	background-color: #434c5e !important;
}

#PopupAutoCompleteRichResult {
/*
  --autocomplete-popup-background: -moz-field;
  --autocomplete-popup-color: -moz-fieldtext;
  --autocomplete-popup-border-color: ThreeDShadow;
  --autocomplete-popup-highlight-background: Highlight;
  --autocomplete-popup-highlight-color: HighlightText;
  */
  /*--autocomplete-popup-background: #8FBCBB;*/
  --autocomplete-popup-color: #8FBCBB;
  --arrowpanel-dimmed: #434c5e;
  --panel-separator-color: #353c4a;
}



/*
 * Remove borders everywhere, some code copied from edge style for firefox
 */

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

#urlbar, .searchbar-textbox {
  border: none !important;
  /* box-shadow: none !important; */
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	/* box-shadow: none !important; */
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.tab-background {
	border-top: none !important;
}

.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}


window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}

/* bookmarks toolbar edge style */

toolbarbutton.bookmark-item {
	border: 1px rgba(0, 0, 0, 0) solid !important;
}

toolbarbutton.bookmark-item:hover {
	background-color: rgba(75, 75, 75, 1);
	border: 1px rgba(75, 75, 75, 1) solid !important;
}

.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}


#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: rgba(42, 42, 42, 1) ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
.close-icon > .toolbarbutton-icon {
	border-radius: 0px !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent;
}

/* Rectangular tabs */
:root {
	--toolbarbutton-border-radius: 0px !important;
}



#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
    text-shadow: none !important;
}


/*
 * Underlines and dims unloaded tabs
 *
 * Contributor(s): josemam
 */

.tabbrowser-tab[pending] {
 font-style: italic;
}


toolbarspring {
    min-width: 8px;
    max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
    max-width: 300px !important;
}



